<h1 align=center style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazirmatn" color="#0099cc">
Feature cleaning enhancements</font>
</h1>



<div dir=rtl style="direction: rtl;text-align: right;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazirmatn" size=3>
    
|ستون|توضیحات|
|------|---|
|DateTime|زمان ثبت رکورد|
|Junction|شماره چهارراه|
|Car|تعداد ماشین‌های گذرکرده|
    
</font>
</div>

In [1]:
import numpy as np
import pandas as pd 
from khayyam import JalaliDatetime
from datetime import timedelta

from flaml import AutoML
from sklearn.metrics import r2_score

In [2]:
df = pd.read_csv('../data/traffic.csv', parse_dates=['DateTime'])

In [3]:
df

                 DateTime  Junction  Car
0     2020-05-02 00:00:00         1   25
1     2020-05-02 01:00:00         1   23
2     2020-05-02 02:00:00         1   20
3     2020-05-02 03:00:00         1   12
4     2020-05-02 04:00:00         1   19
...                   ...       ...  ...
48115 2021-12-30 19:00:00         4   26
48116 2021-12-30 20:00:00         4   55
48117 2021-12-30 21:00:00         4   31
48118 2021-12-30 22:00:00         4   37
48119 2021-12-30 23:00:00         4   27

[48120 rows x 3 columns]

In [4]:
# model = AutoML(task='regression', time_budget=60, verbose=0)
# train = df.loc[:48000]
# test = df.loc[48000:]
# model.fit(train.drop('Car', axis=1), train.Car)
# y_pred = model.predict(test.drop('Car', axis=1))
# r2score = round(r2_score(test.Car, y_pred),2) * 100 
# print(f'performance of model is {r2score}%')

In [5]:
from datetime import datetime as dt
miladi_date = dt(1998,10,29)
print(f'Miladi date = {miladi_date}')

from khayyam import JalaliDatetime
shamsi_date = JalaliDatetime(miladi_date)
print('Sahmsi date = ', shamsi_date)

Miladi date = 1998-10-29 00:00:00
Sahmsi date =  1377-08-07 00:00:00.000000

In [6]:
df['JalaliDateTime'] = df['DateTime'].apply(lambda x : JalaliDatetime(x))
df

                 DateTime  Junction  Car              JalaliDateTime
0     2020-05-02 00:00:00         1   25  1399-02-13 00:00:00.000000
1     2020-05-02 01:00:00         1   23  1399-02-13 01:00:00.000000
2     2020-05-02 02:00:00         1   20  1399-02-13 02:00:00.000000
3     2020-05-02 03:00:00         1   12  1399-02-13 03:00:00.000000
4     2020-05-02 04:00:00         1   19  1399-02-13 04:00:00.000000
...                   ...       ...  ...                         ...
48115 2021-12-30 19:00:00         4   26  1400-10-09 19:00:00.000000
48116 2021-12-30 20:00:00         4   55  1400-10-09 20:00:00.000000
48117 2021-12-30 21:00:00         4   31  1400-10-09 21:00:00.000000
48118 2021-12-30 22:00:00         4   37  1400-10-09 22:00:00.000000
48119 2021-12-30 23:00:00         4   27  1400-10-09 23:00:00.000000

[48120 rows x 4 columns]

In [7]:
def categorize_hours(h):
    if 0 <= h < 6:
        return 0
    elif 6 <= h < 12:
        return 1
    elif 12 <= h < 15:
        return 2
    elif 15 <= h < 18:
        return 3
    elif 18 <= h < 22:
        return 4
    elif 22 <= h < 24:
        return 5

df['hour'] =  df['DateTime'].dt.hour.apply(categorize_hours)
df

                 DateTime  Junction  Car              JalaliDateTime  hour
0     2020-05-02 00:00:00         1   25  1399-02-13 00:00:00.000000     0
1     2020-05-02 01:00:00         1   23  1399-02-13 01:00:00.000000     0
2     2020-05-02 02:00:00         1   20  1399-02-13 02:00:00.000000     0
3     2020-05-02 03:00:00         1   12  1399-02-13 03:00:00.000000     0
4     2020-05-02 04:00:00         1   19  1399-02-13 04:00:00.000000     0
...                   ...       ...  ...                         ...   ...
48115 2021-12-30 19:00:00         4   26  1400-10-09 19:00:00.000000     4
48116 2021-12-30 20:00:00         4   55  1400-10-09 20:00:00.000000     4
48117 2021-12-30 21:00:00         4   31  1400-10-09 21:00:00.000000     4
48118 2021-12-30 22:00:00         4   37  1400-10-09 22:00:00.000000     5
48119 2021-12-30 23:00:00         4   27  1400-10-09 23:00:00.000000     5

[48120 rows x 5 columns]

In [8]:
df['IsHoliday'] = df['DateTime'].dt.day_name().str.lower() == 'friday'

In [9]:
# df.groupby('IsHoliday').count()

In [10]:
cold_weather = [7, 8, 9, 10, 11, 12]

df['IsCold'] = df['JalaliDateTime'].apply(lambda x: 1 if x.month in cold_weather else 0)


df

,DateTime,Junction,Car,JalaliDateTime,hour,IsHoliday,IsCold
0,2020-05-02 00:00:00,1,25,1399-02-13 00:00:00.000000,0,False,0
1,2020-05-02 01:00:00,1,23,1399-02-13 01:00:00.000000,0,False,0
2,2020-05-02 02:00:00,1,20,1399-02-13 02:00:00.000000,0,False,0
3,2020-05-02 03:00:00,1,12,1399-02-13 03:00:00.000000,0,False,0
4,2020-05-02 04:00:00,1,19,1399-02-13 04:00:00.000000,0,False,0
...,...,...,...,...,...,...,...
48115,2021-12-30 19:00:00,4,26,1400-10-09 19:00:00.000000,4,False,1
48116,2021-12-30 20:00:00,4,55,1400-10-09 20:00:00.000000,4,False,1
48117,2021-12-30 21:00:00,4,31,1400-10-09 21:00:00.000000,4,False,1
48118,2021-12-30 22:00:00,4,37,1400-10-09 22:00:00.000000,5,False,1
48119,2021-12-30 23:00:00,4,27,1400-10-09 23:00:00.000000,5,False,1

In [11]:
dummies = pd.get_dummies(df['Junction'], prefix='Junc')

df = pd.concat([df, dummies], axis=1)
df.head()

,DateTime,Junction,Car,JalaliDateTime,hour,IsHoliday,IsCold,Junc_1,Junc_2,Junc_3,Junc_4
0,2020-05-02 00:00:00,1,25,1399-02-13 00:00:00.000000,0,False,0,True,False,False,False
1,2020-05-02 01:00:00,1,23,1399-02-13 01:00:00.000000,0,False,0,True,False,False,False
2,2020-05-02 02:00:00,1,20,1399-02-13 02:00:00.000000,0,False,0,True,False,False,False
3,2020-05-02 03:00:00,1,12,1399-02-13 03:00:00.000000,0,False,0,True,False,False,False
4,2020-05-02 04:00:00,1,19,1399-02-13 04:00:00.000000,0,False,0,True,False,False,False

In [12]:
# model = AutoML(task='regression', time_budget=60, verbose=0)
# useful_cols = ['DateTime', 'hour', 'IsHoliday', 'IsCold', 'Junc_1', 'Junc_2', 'Junc_3', 'Junc_4', 'Car']
# train = df[useful_cols].loc[:48000]
# test = df[useful_cols].loc[48000:]
# model.fit(train.drop('Car', axis=1), np.log(train.Car))
# y_pred = np.exp(model.predict(test.drop('Car', axis=1)))
# r2score = round(r2_score(test.Car, y_pred),2) * 100 
# print(f'performance of model is {r2score}%')