<h1 align=center style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazirmatn" color="#0099cc">
بازاریابی بانکی
</font>
</h1>

<center>
<div style="direction: rtl;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazirmatn" size=3>
        
|مقادیر درون دیتافریم|مقادیری که باید جایگزین بشوند|
| :---: | :---: |
|<code>yes</code>|<code>1</code>|
|<code>no<code>|<code>0</code>|
        
<br>

|مقادیر درون دیتافریم|مقادیری که باید جایگزین بشوند|
| :---: | :---: |
|<code>illiterate</code>|<code>0</code>|
|<code dir=ltr>basic.4y</code>|<code>1</code>|
|<code dir=ltr>basic.6y</code>|<code>2</code>|
|<code dir=ltr>basic.9y</code>|<code>3</code>|
|<code dir=ltr>high.school</code>|<code>4</code>|
|<code dir=ltr>professional.course</code>|<code>5</code>|
|<code dir=ltr>university.degree</code>|<code>6</code>|
        
<br>

|مقادیر درون دیتافریم|مقادیری که باید جایگزین بشوند|
| :---: | :---: |
|<code>mon</code>|<code>0</code>|
|<code>tue</code>|<code>1</code>|
|<code>wed</code>|<code>2</code>|
|<code>thu</code>|<code>3</code>|
|<code>fri</code>|<code>4</code>|
|<code>sat</code>|<code>5</code>|
|<code>sun</code>|<code>6</code>|

<br>

|مقادیر درون دیتافریم|مقادیری که باید جایگزین بشوند|
| :---: | :---: |
|<code>jan</code>|<code>0</code>|
|<code>feb</code>|<code>1</code>|
|<code>mar</code>|<code>2</code>|
|<code>apr</code>|<code>3</code>|
|<code>may</code>|<code>4</code>|
|<code>jun</code>|<code>5</code>|
|<code>jul</code>|<code>6</code>|
|<code>aug</code>|<code>7</code>|
|<code>sep</code>|<code>8</code>|
|<code>oct</code>|<code>9</code>|
|<code>nov</code>|<code>10</code>|
|<code>dec</code>|<code>11</code>|

<br>

|مقادیر درون دیتافریم|مقادیری که باید جایگزین بشوند|
| :---: | :---: |
|<code>failure</code>|<code dir=ltr>-1</code>|
|<code>nonexistent</code>|<code dir=ltr>0</code>|
|<code>success</code>|<code dir=ltr>1</code>|
        
        
</font>
</div>
</center>

In [1]:
%pip install flaml
%pip install "flaml[automl]"

import pandas as pd
from flaml import AutoML
from sklearn.metrics import f1_score

Requirement already satisfied: flaml in c:\users\pariya\anaconda3\lib\site-packages (2.3.6)
Requirement already satisfied: NumPy>=1.17 in c:\users\pariya\anaconda3\lib\site-packages (from flaml) (1.24.3)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: flaml[automl] in c:\users\pariya\anaconda3\lib\site-packages (2.3.6)
Requirement already satisfied: NumPy>=1.17 in c:\users\pariya\anaconda3\lib\site-packages (from flaml[automl]) (1.24.3)
Requirement already satisfied: lightgbm>=2.3.1 in c:\users\pariya\anaconda3\lib\site-packages (from flaml[automl]) (4.6.0)
Requirement already satisfied: xgboost<3.0.0,>=0.90 in c:\users\pariya\anaconda3\lib\site-packages (from flaml[automl]) (2.1.4)
Requirement already satisfied: scipy>=1.4.1 in c:\users\pariya\anaconda3\lib\site-packages (from flaml[automl]) (1.13.1)
Requirement already satisfied: pandas>=1.1.4 in c:\users\pariya\anaconda3\lib\site-packages (from flaml[automl]) (2.2.3)
Requirement already satisfied: scikit-learn>=1.0.0 in c:\users\pariya\anaconda3\lib\site-packages (from flaml[automl]) (1.6.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\pariya\anaconda3\lib\site-packages (from pandas>=1.1.4->flaml[automl]) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\pariya\anaconda3\lib\site-packages (from pandas>=1.1.4->flaml[automl]) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\pariya\anaconda3\lib\site-packages (from pandas>=1.1.4->flaml[automl]) (2023.3)
Requirement already satisfied: joblib>=1.2.0 in c:\users\pariya\anaconda3\lib\site-packages (from scikit-learn>=1.0.0->flaml[automl]) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in c:\users\pariya\anaconda3\lib\site-packages (from scikit-learn>=1.0.0->flaml[automl]) (3.5.0)
Requirement already satisfied: six>=1.5 in c:\users\pariya\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas>=1.1.4->flaml[automl]) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
df = pd.read_csv('../data/bank-additional-full.csv', na_values='unknown')
df.head()

,age,job,marital,education,default,housing,loan,is_telephone_contact,month,day_of_week,duration,campaign,pdays,previous,poutcome,y
0,56,housemaid,married,basic.4y,no,no,no,yes,may,mon,261,1,999,0,nonexistent,no
1,57,services,married,high.school,NaN,no,no,yes,may,mon,149,1,999,0,nonexistent,no
2,37,services,married,high.school,no,yes,no,yes,may,mon,226,1,999,0,nonexistent,no
3,40,admin.,married,basic.6y,no,no,no,yes,may,mon,151,1,999,0,nonexistent,no
4,56,services,married,high.school,no,no,yes,yes,may,mon,307,1,999,0,nonexistent,no

In [3]:
# target_variable = 'y'
# df_train = df.sample(frac=.7, random_state=313)

# model = AutoML(task='classification', time_budget=120, verbose=0, estimator_list=['lgbm', 'rf'])
# model.fit(df_train.drop(target_variable, axis=1), df_train[target_variable])

# df_test = df.drop(df_train.index)
# y_pred = model.predict(df_test.drop(target_variable, axis=1))

# f1score = f1_score(df_test[target_variable], y_pred, pos_label='yes')*100
# print(f'performance of model is {f1score} %')

In [4]:
df.isna().sum()

age                        0
job                      330
marital                   80
education               1731
default                 8597
housing                  990
loan                     990
is_telephone_contact       0
month                      0
day_of_week                0
duration                   0
campaign                   0
pdays                      0
previous                   0
poutcome                   0
y                          0
dtype: int64

In [5]:
categorical_cols = ['default', 'housing', 'loan', 'is_telephone_contact','job','marital','education', 'month', 'day_of_week', 'poutcome']


for col in categorical_cols:
    df[col].fillna(df[col].mode()[0], inplace=True)

df.isna().sum()

C:\Users\PARIYA\AppData\Local\Temp\ipykernel_11184\1223219329.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(df[col].mode()[0], inplace=True)

age                     0
job                     0
marital                 0
education               0
default                 0
housing                 0
loan                    0
is_telephone_contact    0
month                   0
day_of_week             0
duration                0
campaign                0
pdays                   0
previous                0
poutcome                0
y                       0
dtype: int64

In [6]:
print(categorical_cols)
continuous_cols = ['age', 'duration', 'pdays', 'previous', 'campaign']
binary_cols = ['default', 'housing', 'loan', 'is_telephone_contact']
nominal_cols = ['job','marital']
ordinal_cols = ['education', 'month', 'day_of_week', 'poutcome']

['default', 'housing', 'loan', 'is_telephone_contact', 'job', 'marital', 'education', 'month', 'day_of_week', 'poutcome']

In [7]:
binary_df = df[binary_cols]
binary_df.head()


mapping = {'no': 0,
           'yes' : 1,
           }
for col in binary_cols:
    binary_df[col] = binary_df[col].map(mapping)

binary_df.head()

C:\Users\PARIYA\AppData\Local\Temp\ipykernel_11184\4210616240.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  binary_df[col] = binary_df[col].map(mapping)
C:\Users\PARIYA\AppData\Local\Temp\ipykernel_11184\4210616240.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  binary_df[col] = binary_df[col].map(mapping)
C:\Users\PARIYA\AppData\Local\Temp\ipykernel_11184\4210616240.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  binary_df[col] = binary_df[col].map(mapping)
C:\Users\PARIYA\AppData\Local\Temp\ipykernel_11184\4210616240.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  binary_df[col] = binary_df[col].map(mapping)

   default  housing  loan  is_telephone_contact
0        0        0     0                     1
1        0        0     0                     1
2        0        1     0                     1
3        0        0     0                     1
4        0        0     1                     1

In [8]:
nominal_df =  pd.DataFrame()


for col in nominal_cols:
    print(col)
    dummies = pd.get_dummies(df[col]).rename(columns=lambda x:col+'_' +str(x))
    nominal_df = pd.concat([nominal_df, dummies], axis=1)

 
nominal_df.head()

job
marital

,job_admin.,job_blue-collar,job_entrepreneur,job_housemaid,job_management,job_retired,job_self-employed,job_services,job_student,job_technician,job_unemployed,marital_divorced,marital_married,marital_single
0,False,False,False,True,False,False,False,False,False,False,False,False,True,False
1,False,False,False,False,False,False,False,True,False,False,False,False,True,False
2,False,False,False,False,False,False,False,True,False,False,False,False,True,False
3,True,False,False,False,False,False,False,False,False,False,False,False,True,False
4,False,False,False,False,False,False,False,True,False,False,False,False,True,False

In [9]:
ordinal_df = df[ordinal_cols]
ordinal_df.head()

education_mapping = {
    'illiterate': 0,
    'basic.4y': 1,
    'basic.6y': 2,
    'basic.9y': 3,
    'high.school': 4,
    'professional.course': 5,
    'university.degree': 6
}

day_of_week_mapping = {
    'mon': 0,
    'tue': 1,
    'wed': 2,
    'thu': 3,
    'fri': 4,
    'sat': 5,
    'sun': 6
}

month_mapping = {
    'jan': 0,
    'feb': 1,
    'mar': 2,
    'apr': 3,
    'may': 4,
    'jun': 5,
    'jul': 6,
    'aug': 7,
    'sep': 8,
    'oct': 9,
    'nov': 10,
    'dec': 11
}

poutcome_mapping = {
    'failure': -1,
    'nonexistent': 0,
    'success': 1
}

 



ordinal_df['education'] = ordinal_df['education'].map(education_mapping)
ordinal_df['day_of_week'] = ordinal_df['day_of_week'].map(day_of_week_mapping)
ordinal_df['month'] = ordinal_df['month'].map(month_mapping)
ordinal_df['poutcome'] = ordinal_df['poutcome'].map(poutcome_mapping)


ordinal_df.head()

C:\Users\PARIYA\AppData\Local\Temp\ipykernel_11184\4279207316.py:49: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ordinal_df['education'] = ordinal_df['education'].map(education_mapping)
C:\Users\PARIYA\AppData\Local\Temp\ipykernel_11184\4279207316.py:50: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ordinal_df['day_of_week'] = ordinal_df['day_of_week'].map(day_of_week_mapping)
C:\Users\PARIYA\AppData\Local\Temp\ipykernel_11184\4279207316.py:51: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ordinal_df['month'] = ordinal_df['month'].map(month_mapping)
C:\Users\PARIYA\AppData\Local\Temp\ipykernel_11184\4279207316.py:52: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ordinal_df['poutcome'] = ordinal_df['poutcome'].map(poutcome_mapping)

   education  month  day_of_week  poutcome
0          1      4            0         0
1          4      4            0         0
2          4      4            0         0
3          2      4            0         0
4          4      4            0         0