<h1 align=center style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
کنکلی
</font>
</h1>

In [1]:
import pandas as pd
import numpy as np 
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import OneHotEncoder
from sklearn.metrics import  f1_score, classification_report, confusion_matrix

<center>
<div dir=rtl style="direction: rtl;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
    
|ستون|توضیحات|
|:------:|:---:|
|Created|زمان ثبت بلیط|
|CancelTime|زمانی که مسافر بلیط را کنسل کرده است|
|DepartureTime|زمان حرکت|
|BillID|شناسه خرید|
|TicketID|شناسه بلیط|
|ReserveStatus|وضعیت پرداخت مشتری|
|UserID|شناسه کاربری|
|Male|آیا بلیط متعلق به زن است یا مرد|
|Price|قیمت بلیط بدون تخفیف|
|CouponDiscount|تخفیفی که شخص روی بلیط اعمال کرده است|
|From|مبدا سفر|
|To|مقصد سفر|
|Domestic|آیا سفر، داخلی است یا خارجی|
|VehicleType|جزئیات وسیله نقلیه را مشخص می‌کند|
|VehicleClass|آیا وسیله نقلیه، فرست‌کلس است یا نه|
|Vehicle|نوع وسیله نقلیه|
|HashPassportNumber_p|هش‌شده شماره پاسپورت|
|HashEmail|هش‌شده ایمیل|
|BuyerMobile|هش‌شده شماره موبایل|
|NationalCode|هش‌شده شماره‌ملی|
|TripReason|دلیل سفر|
|Cancel|آیا بلیط کنسل شده‌است یا نه|
    
</font>
</div>
</center>

In [2]:
train_data = pd.read_csv('../data/train_data.csv')
train_data.head(2)

,Created,CancelTime,DepartureTime,BillID,TicketID,ReserveStatus,UserID,Male,Price,CouponDiscount,...,Domestic,VehicleType,VehicleClass,TripReason,Vehicle,Cancel,HashPassportNumber_p,HashEmail,BuyerMobile,NationalCode
0,2022-07-26 13:33:20.457,NaN,2022-07-26 16:30:00,38428546,7445571.0,3,NaN,True,1180000.0,0.0,...,1,VIPمانیتوردار-شارژراختصاصی تخت شو مارال (جدید)...,True,Work,Bus,0,NaN,NaN,302222356019,330024570
1,2022-10-27 23:07:01.837,2022-10-27 23:26:39.070,2022-10-29 09:45:00,39768762,7762719.0,5,NaN,False,1050000.0,0.0,...,1,classicus 2+2,True,Int,Bus,1,NaN,NaN,900764168521,995520696

In [3]:
train_data.groupby('Cancel').count()

,Created,CancelTime,DepartureTime,BillID,TicketID,ReserveStatus,UserID,Male,Price,CouponDiscount,...,To,Domestic,VehicleType,VehicleClass,TripReason,Vehicle,HashPassportNumber_p,HashEmail,BuyerMobile,NationalCode
Cancel,,,,,,,,,,,,,,,,,,,,,
0,85716,11,85716,85716,85716,85716,34488,85716,85716,85716,...,85716,85716,78924,54387,85716,85716,789,35558,85716,85716
1,15301,15301,15301,15301,15301,15301,8014,15301,15301,15301,...,15301,15301,14415,8279,15301,15301,73,7457,15301,15301

In [4]:
test_data = pd.read_csv('../data/test_data.csv')
test_data.head(2)

,Created,DepartureTime,BillID,TicketID,ReserveStatus,UserID,Male,Price,CouponDiscount,From,To,Domestic,VehicleType,VehicleClass,TripReason,Vehicle,HashPassportNumber_p,HashEmail,BuyerMobile,NationalCode
0,2022-07-08 12:04:46.290,2022-08-16 23:59:00,38166794,2890395.0,2,NaN,False,2043000.0,0.0,مشهد,تهران,1,3 ستاره 6 تخته پارسي,NaN,Int,Train,NaN,NaN,419509763088,660703096
1,2022-09-30 14:18:23.487,2022-09-30 23:59:00,39424175,7669420.0,3,NaN,False,1220000.0,0.0,تهران,اصفهان,1,V I P,True,Int,Bus,NaN,NaN,935955347521,960594437

In [5]:
train_data.isna().sum()

Created                      0
CancelTime               85705
DepartureTime                0
BillID                       0
TicketID                     0
ReserveStatus                0
UserID                   58515
Male                         0
Price                        0
CouponDiscount               0
From                         0
To                           0
Domestic                     0
VehicleType               7678
VehicleClass             38351
TripReason                   0
Vehicle                      0
Cancel                       0
HashPassportNumber_p    100155
HashEmail                58002
BuyerMobile                  0
NationalCode                 0
dtype: int64

In [6]:
y = train_data['Cancel']

train_data.drop(columns=['Cancel'], inplace=True)

In [7]:
train_data.drop(columns=['HashPassportNumber_p','HashEmail','BuyerMobile','NationalCode','UserID', 'VehicleType', 'BillID', 'TicketID'], inplace=True)

In [8]:
test_data.drop(columns=['HashPassportNumber_p','HashEmail','BuyerMobile','NationalCode','UserID', 'VehicleType', 'BillID', 'TicketID'], inplace=True)

In [9]:
train_data.isna().sum()

Created               0
CancelTime        85705
DepartureTime         0
ReserveStatus         0
Male                  0
Price                 0
CouponDiscount        0
From                  0
To                    0
Domestic              0
VehicleClass      38351
TripReason            0
Vehicle               0
dtype: int64

In [10]:
train_data['VehicleClass'] = train_data['VehicleClass'].fillna(True)
test_data['VehicleClass'] = test_data['VehicleClass'].fillna(True)

C:\Users\PARIYA\AppData\Local\Temp\ipykernel_27000\3812740790.py:1: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  train_data['VehicleClass'] = train_data['VehicleClass'].fillna(True)
C:\Users\PARIYA\AppData\Local\Temp\ipykernel_27000\3812740790.py:2: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  test_data['VehicleClass'] = test_data['VehicleClass'].fillna(True)

In [11]:
train_data.columns

Index(['Created', 'CancelTime', 'DepartureTime', 'ReserveStatus', 'Male',
       'Price', 'CouponDiscount', 'From', 'To', 'Domestic', 'VehicleClass',
       'TripReason', 'Vehicle'],
      dtype='object')

In [12]:
numerical_columns = ['Created', 'DepartureTime', 'Price', 'CouponDiscount']
categorical_columns = ['ReserveStatus', 'Male', 'From', 'To', 'Domestic', 'VehicleClass',  'Vehicle', 'TripReason']

In [13]:
train_data['Created'] = pd.to_datetime(train_data['Created']).astype('int64')
test_data['Created'] = pd.to_datetime(test_data['Created']).astype('int64')

train_data['DepartureTime'] = pd.to_datetime(train_data['DepartureTime']).astype('int64')
test_data['DepartureTime'] = pd.to_datetime(test_data['DepartureTime']).astype('int64')

In [14]:
st = StandardScaler()

train_standard = st.fit_transform(train_data[numerical_columns])
test_standard = st.transform(test_data[numerical_columns])

enc = OneHotEncoder(handle_unknown='ignore')

train_enc = enc.fit_transform(train_data[categorical_columns])
test_enc = enc.transform(test_data[categorical_columns])

In [23]:
x_train = pd.concat(
    [pd.DataFrame(train_standard), pd.DataFrame(train_enc.toarray())],
    axis=1
)

x_test = pd.concat(
    [pd.DataFrame(test_standard), pd.DataFrame(test_enc.toarray())],
    axis=1
)

In [24]:
X_train, X_valid, y_train, y_valid = train_test_split(x_train, y, random_state=42, test_size=0.20)

In [25]:
# from sklearn.model_selection import RandomizedSearchCV
# from scipy import stats
# from xgboost import XGBClassifier

# param_grid = {
#     'n_estimators' : stats.randint(200, 500),
#     'learning_rate': stats.uniform(0.02, 1.2),
#     'max_depth': stats.randint(10, 60),
# }

# clf = RandomizedSearchCV(
#     XGBClassifier(eval_metric='logloss', subsample=0.9, colsample_bytree=0.9),
#     param_grid,
#     scoring='f1',
#     verbose=3,
#     n_iter=50,
#     n_jobs=-1
# )

# clf.fit(X_train.to_numpy(), y_train)

In [26]:
# print(clf.best_params_)
  
# print(clf.best_estimator_)

In [27]:
# neg = (y_train == 0).sum()
# pos = (y_train == 1).sum()
# spw = neg / pos

# model = XGBClassifier(
#     n_estimators=500,
#     learning_rate= 0.993,
#     max_depth=100,
#     subsample=0.9,
#     colsample_bytree=0.9,
#     scale_pos_weight=spw,
#     eval_metric='logloss'
# )

In [28]:
# model.fit(X_train.to_numpy(), y_train)

In [29]:
from sklearn.model_selection import KFold
from sklearn.metrics import f1_score
from xgboost import XGBClassifier
import numpy as np

kf = KFold(n_splits=5, shuffle=True, random_state=42)

neg = (y == 0).sum()
pos = (y == 1).sum()
spw = neg / pos

f1_scores = []
best_f1 = -1
best_model = None

for fold, (train_idx, val_idx) in enumerate(kf.split(x_train, y), 1):

    X_tr = x_train.iloc[train_idx]
    X_val = x_train.iloc[val_idx]
    y_tr = y.iloc[train_idx]
    y_val = y.iloc[val_idx]

    model = XGBClassifier(
        n_estimators=300,
        learning_rate=0.1,
        max_depth=50,
        subsample=0.9,
        colsample_bytree=0.9,
        scale_pos_weight=spw,
        eval_metric='logloss',
        n_jobs=-1
    )

    model.fit(X_tr.to_numpy(), y_tr.to_numpy())
    y_pred = model.predict(X_val.to_numpy())

    f1 = f1_score(y_val, y_pred)
    f1_scores.append(f1)

    print(f"Fold {fold} → F1 = {f1:.4f}")
    if f1 > best_f1:
        best_f1 = f1
        best_model = model

print("\nMean F1:", np.mean(f1_scores))

Fold 1 → F1 = 0.9502
Fold 2 → F1 = 0.9444
Fold 3 → F1 = 0.9497
Fold 4 → F1 = 0.9428
Fold 5 → F1 = 0.9480

Mean F1: 0.9470226475098759

In [30]:
val_pred = best_model.predict(X_valid.to_numpy())

print("F1:", f1_score(y_valid, val_pred))

F1: 0.9502001601281025

In [31]:
y_test = best_model.predict(x_test.to_numpy())
submission = pd.DataFrame(y_test, columns=['Cancel'])
submission

       Cancel
0           0
1           0
2           0
3           1
4           0
...       ...
43288       0
43289       0
43290       0
43291       0
43292       0

[43293 rows x 1 columns]