<h1 align=center style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazirmatn" color="#0099cc">
دادگان گم‌شده و پرت
</font>
</h1>

<p dir=rtl style="direction: rtl;text-align: right;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazirmatn" size=3>
غلامرضا علاقه شدیدی به حوزه کار با دیتا دارد و شروع به یادگیری کرده‌است. او برای تمرین بیشتری نیاز به یک مجموعه‌داده پیدا کرد و برای همین تصمیم گرفت از داده‌های تولیدشده دستگاه GPS ماشین پدرش استفاده کند. اما مشکلی به‌وجود آمد...!
</ br>
دستگاهی که توسط پدر غلامرضا خریداری شده‌بود، دستگاهی بود که گاهی‌اوقات داده‌هارا ثبت نمی‌کرد یا مقادیر عجیبی! ثبت می‌کرد. برای همین هم‌اکنون غلامرضا اندکی سردرگم شده‌است و از شما درخواست‌ دارد به کمک او بشتابید.
</font>
</p>


<div dir=rtl id="start" style="direction:rtl;line-height:200%;">
<font face="vazirmatn" size=3>
برای آشنایی با توضیحات هر ستون نگاهی به جدول زیر بیاندازید:
</font>
</div>

</br>

<p dir=rtl style="direction: rtl;text-align: right;line-height:200%;font-family:vazir;font-size:medium">
<table dir=rtl align = center>
    
<tr>
    <th align = center><font face="vazirmatn" size=3>نام ستون</font></th>
    <th align = center><font face="vazirmatn" size=3>توضیح</font></th>
</tr>

<tr>
    <td align = center><font face="vazirmatn" size=3>Date</font></td>
    <td align = center><font face="vazirmatn" size=3>تاریخ سفر</font></td>
</tr>
    
<tr>
    <td align = center><font face="vazirmatn" size=3>StartTime</font></td>
    <td align = center><font face="vazirmatn" size=3>ساعت ماشین سوار شدن</font></td>
</tr
    
<tr>
    <td align = center><font face="vazirmatn" size=3>DayOfWeek</font></td>
    <td align = center><font face="vazirmatn" size=3>نام روز در هفته</font></td>
</tr>
    
<tr>
    <td align = center><font face="vazirmatn" size=3>GoingTo</font></td>
    <td align = center><font face="vazirmatn" size=3>مقصد سفر پدر غلامرضا. یا به محل کار(work) و یا به خانه (home)</font></td>
</tr>
    
<tr>
    <td align = center><font face="vazirmatn" size=3>Distance</font></td>
    <td align = center><font face="vazirmatn" size=3>مسافت طی‌شده به کیلومتر</font></td>
</tr>
    
<tr>
    <td align = center><font face="vazirmatn" size=3>MaxSpeed</font></td>
    <td align = center><font face="vazirmatn" size=3>سریع ترین سرعت ثبت شده</font></td>
</tr>
    
<tr>
    <td align = center><font face="vazirmatn" size=3>AvgSpeed</font></td>
    <td align = center><font face="vazirmatn" size=3>میانگین سرعت برای کل سفر</font></td>
</tr>
    
<tr>
    <td align = center><font face="vazirmatn" size=3>AvgMovingSpeed</font></td>
    <td align = center><font face="vazirmatn" size=3>میانگین سرعت ثبت شده فقط در حین حرکت خودرو</font></td>
</tr>
    
<tr>
    <td align = center><font face="vazirmatn" size=3>FuelEconomy</font></td>
    <td align = center><font face="vazirmatn" size=3>تخمین تقریبی از مصرف سوخت</font></td>
</tr>
    
<tr>
    <td align = center><font face="vazirmatn" size=3>TotalTime</font></td>
    <td align = center><font face="vazirmatn" size=3>مدت کل سفر، به دقیقه</font></td>
</tr>
    
<tr>
    <td align = center><font face="vazirmatn" size=3>MaxSpeed</font></td>
    <td align = center><font face="vazirmatn" size=3>سریع ترین سرعت ثبت شده</font></td>
</tr>
    
<tr>
    <td align = center><font face="vazirmatn" size=3>MaxSpeed</font></td>
    <td align = center><font face="vazirmatn" size=3>سریع ترین سرعت ثبت شده</font></td>
</tr>
    
<tr>
    <td align = center><font face="vazirmatn" size=3>MovingTime</font></td>
    <td align = center><font face="vazirmatn" size=3>مدت زمانی که ماشین در حال حرکت است (یعنی بدون احتساب تاخیرهای ترافیکی، تصادفات، یا زمانی که ماشین ساکن است)</font></td>
</tr>

<tr>
    <td align = center><font face="vazirmatn" size=3>Toll</font></td>
    <td align = center><font face="vazirmatn" size=3>در زمان‌هایی که پدرغلامرضا دیرش شده‌است، از مسیرهایی می‌رود که مجبور به پرداخت عوارض است. هنگامی که این اتفاق بیفتد در این ستون Yes نوشته می‌شود و هنگامی‌که از مسیرهایی که عوارضی‌ ندارد سفر طی شود، مقدار No نوشته می‌شود</font></td>
</tr>
    
<tr>
    <td align = center><font face="vazirmatn" size=3>Comments</font></td>
    <td align = center><font face="vazirmatn" size=3>یادداشت‌های ثبت‌شده توسط پدر غلامرضا به شکلی دستی</font></td>
</tr>

</table>
</p>

<p dir=rtl style="direction: rtl;text-align: right;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazirmatn" size=3>
در این قسمت، کتاب‌خانه‌های مورد نیاز import می‌شود.</font>
</p>

In [95]:
import numpy as np
import pandas as pd
from flaml.automl import AutoML
from matplotlib import pyplot as plt
import seaborn as sns

<p dir=rtl style="direction: rtl;text-align: right;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazirmatn" size=3>
برای شروع، داده‌ها را خوانده و نگاهی به آن‌ها می‌اندازیم:
</font>
</p>

In [96]:
# read csv file
df = pd.read_csv("travel_times.csv")
df

,Date,StartTime,DayOfWeek,GoingTo,Distance,MaxSpeed,AvgSpeed,AvgMovingSpeed,FuelEconomy,TotalTime,MovingTime,Toll,Comments
0,1/6/2012,16:37,Friday,home,51.29,127.4,78.3,84.8,NaN,39.3,36.3,No,NaN
1,1/6/2012,8:20,Friday,work,51.63,130.3,81.8,88.9,NaN,37.9,34.9,No,NaN
2,1/4/2012,16:17,Wednesday,home,51.27,1207.4,82.0,NaN,NaN,NaN,35.9,No,NaN
3,1/4/2012,7:53,Wednesday,work,49.17,132.3,74.2,82.9,NaN,39.8,35.6,NaN,NaN
4,1/3/2012,18:57,Tuesday,home,51.15,136.2,83.4,88.1,NaN,36.8,34.8,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,7/18/2011,8:09,Monday,work,54.52,125.6,49.9,82.4,7.89,65.5,39.7,No,NaN
201,7/14/2011,8:03,Thursday,work,50.90,3123.7,76.2,NaN,7.89,40.1,32.1,Yes,NaN
202,7/13/2011,17:08,Wednesday,home,51.96,132.6,57.5,76.7,NaN,54.2,40.6,Yes,NaN
203,7/12/2011,17:51,Tuesday,home,53.28,125.8,61.6,NaN,NaN,51.9,36.5,Yes,NaN
204,7/11/2011,16:56,Monday,home,51.73,-120.0,62.8,NaN,NaN,NaN,33.6,Yes,NaN

<p dir=rtl style="direction: rtl;text-align: right;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazirmatn" size=3>
با صدا زدن متد info، نگاهی کلی به دیتاست می‌اندازیم.
</font>
</p>

In [97]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Date            205 non-null    object
 1   StartTime       205 non-null    object
 2   DayOfWeek       205 non-null    object
 3   GoingTo         205 non-null    object
 4   Distance        205 non-null    float64
 5   MaxSpeed        205 non-null    float64
 6   AvgSpeed        205 non-null    float64
 7   AvgMovingSpeed  188 non-null    float64
 8   FuelEconomy     186 non-null    float64
 9   TotalTime       176 non-null    float64
 10  MovingTime      205 non-null    float64
 11  Toll            174 non-null    object
 12  Comments        24 non-null     object
dtypes: float64(7), object(6)
memory usage: 20.9+ KB

In [98]:
df.isna().sum()

Date                0
StartTime           0
DayOfWeek           0
GoingTo             0
Distance            0
MaxSpeed            0
AvgSpeed            0
AvgMovingSpeed     17
FuelEconomy        19
TotalTime          29
MovingTime          0
Toll               31
Comments          181
dtype: int64

<p dir=rtl style="direction: rtl;text-align: right;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazirmatn" size=3>
همان‌طور که مشاهده می‌شود، به‌جز ستون‌های TotalTime، FuelEconomy، Toll و Comments، تمامی ستون‌ها حاوی مقادیر غیر NaN می‌باشند
    </ br>
    تعداد مقادیر NaN ستون Comments، بسیار بیشتر از مقادیر غیر NaN آن است. بنابراین این ستون را از دیتاست خود حذف کنید.
</font>
</p>

In [99]:
# drop comments column
df.drop(columns=['Comments'], inplace=True)
df

,Date,StartTime,DayOfWeek,GoingTo,Distance,MaxSpeed,AvgSpeed,AvgMovingSpeed,FuelEconomy,TotalTime,MovingTime,Toll
0,1/6/2012,16:37,Friday,home,51.29,127.4,78.3,84.8,NaN,39.3,36.3,No
1,1/6/2012,8:20,Friday,work,51.63,130.3,81.8,88.9,NaN,37.9,34.9,No
2,1/4/2012,16:17,Wednesday,home,51.27,1207.4,82.0,NaN,NaN,NaN,35.9,No
3,1/4/2012,7:53,Wednesday,work,49.17,132.3,74.2,82.9,NaN,39.8,35.6,NaN
4,1/3/2012,18:57,Tuesday,home,51.15,136.2,83.4,88.1,NaN,36.8,34.8,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
200,7/18/2011,8:09,Monday,work,54.52,125.6,49.9,82.4,7.89,65.5,39.7,No
201,7/14/2011,8:03,Thursday,work,50.90,3123.7,76.2,NaN,7.89,40.1,32.1,Yes
202,7/13/2011,17:08,Wednesday,home,51.96,132.6,57.5,76.7,NaN,54.2,40.6,Yes
203,7/12/2011,17:51,Tuesday,home,53.28,125.8,61.6,NaN,NaN,51.9,36.5,Yes
204,7/11/2011,16:56,Monday,home,51.73,-120.0,62.8,NaN,NaN,NaN,33.6,Yes

<p dir=rtl style="direction: rtl;text-align: right;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazirmatn" size=3>
مقادیر گم‌شده ستون‌های FuelEconomy و AvgMovingSpeed را با میانگین این ستون‌ها پر کنید. (مقادیر میانگین‌گرفته‌شده‌را تا دو رقم اعشار با تابع round، گرد کنید)
</font>
</p>

In [100]:
# fill NaN values in the AvgMovingSpeed and FuelEconomy
# to do
df['AvgMovingSpeed'] = df['AvgMovingSpeed'].fillna(df['AvgMovingSpeed'].mean())
df['FuelEconomy'] = df['FuelEconomy'].fillna(df['FuelEconomy'].mean())

In [101]:
df.isna().sum()

Date               0
StartTime          0
DayOfWeek          0
GoingTo            0
Distance           0
MaxSpeed           0
AvgSpeed           0
AvgMovingSpeed     0
FuelEconomy        0
TotalTime         29
MovingTime         0
Toll              31
dtype: int64

<p dir=rtl style="direction: rtl;text-align: right;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazirmatn" size=3>
یکی از راه‌های پرکردن مقادیر گم‌شده، پیش‌بینی آن‌ها با استفاده از مدل‌های یادگیری‌ماشین می‌باشد. برای همین منظور، چند سلول کد زیر را اجرا کنید تا مقادیر NaN ستون‌های TotalTime و Toll پیدا شود. هرچند از خودتان انتظار نداشته باشید هم‌اکنون از این کد سر در بیاورید. هنگامی که درسنامه مربوطه در ادامه دوره‌ را خواندید، دوباره به این بخش از درسنامه سر بزنید.    </font>
</p>

In [102]:
automl_reg = AutoML()
x_train, x_test = df.dropna(subset=['TotalTime']), df[df.TotalTime.isna()]
y_train = df[~df.TotalTime.isna()].TotalTime
# removing the columns with null values
x_train = x_train.drop(columns=['TotalTime','Toll'])
x_test = x_test.drop(columns=['TotalTime','Toll'])
# run the model
automl_reg.fit(x_train, y_train, estimator_list=["rf"], task="regression", verbose=False)
y_pred = automl_reg.predict(x_test)

In [103]:
df.loc[df.TotalTime.isna(), 'TotalTime'] = y_pred
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Date            205 non-null    object
 1   StartTime       205 non-null    object
 2   DayOfWeek       205 non-null    object
 3   GoingTo         205 non-null    object
 4   Distance        205 non-null    float64
 5   MaxSpeed        205 non-null    float64
 6   AvgSpeed        205 non-null    float64
 7   AvgMovingSpeed  205 non-null    float64
 8   FuelEconomy     205 non-null    float64
 9   TotalTime       205 non-null    float64
 10  MovingTime      205 non-null    float64
 11  Toll            174 non-null    object
dtypes: float64(7), object(5)
memory usage: 19.3+ KB

In [ ]:
automl_clf = AutoML()
x_train, x_test = df.dropna(subset=['Toll']), df[df.Toll.isna()]
y_train = df[~df.Toll.isna()].Toll
# removing the columns with null values
x_train = x_train.drop(columns=['Toll'])
x_test = x_test.drop(columns=['Toll'])
# run the model
automl_clf.fit(x_train, y_train, task="classification", estimator_list=["rf"], verbose=False)
y_pred = automl_clf.predict(x_test)

In [ ]:
df.loc[df.Toll.isna(), 'Toll'] = y_pred
df.info()

<p dir=rtl style="direction: rtl;text-align: right;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazirmatn" size=3>
حال در این قسمت کار با داده‌های گم‌شده به اتمام رسید. مرحله بعدی کار با داده‌های پرت می‌باشد. برای شناسایی داده‌های پرت ابتدا با boxplot، نمودارهای ستون های numerical را رسم میکنیم. 
    </font>
</p>

In [ ]:
fig, ax = plt.subplots(4, 2, figsize=(20, 15))
sns.boxplot(x=df.Distance, ax = ax[0,0])
sns.boxplot(x=df.MaxSpeed, ax = ax[0,1])
sns.boxplot(x=df.AvgSpeed, ax = ax[1,0])
sns.boxplot(x=df.AvgMovingSpeed, ax = ax[1,1])
sns.boxplot(x=df.FuelEconomy, ax = ax[2,0])
sns.boxplot(x=df.TotalTime, ax = ax[2,1])
sns.boxplot(x=df.MovingTime, ax = ax[3,0])

<p dir=rtl style="direction: rtl;text-align: right;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazirmatn" size=3>
همانطور که در نمودار جعبه‌ای MaxSpeed مشاهده می‌شود، داده‌های پرت زیادی در این ستون وجود دارد (حتی داده‌ی ‌منفی برای سرعت!). بنابراین باید این داده‌ها را شناسایی و حذف کرد.
</br>
در قسمت پایین با استفاده از چارک‌ها و محاسبه IQR، داده‌های پرت ستون MaxSpeed را شناسایی کرده و مقادیر پرت این ستون به شکل سورت شده (از کمترین به بیشترین) در لیست outlier_speed بریزید. همچنین مقادیر پرت ستون MaxSpeed  را با میانگین این ستون با دو رقم اعشار با استفاده از تابع round جایگزین کنید . (توجه کنید داده‌های پرت این ستون، نباید تاثیری بر میانگین بگذارند و بدون درنظر گرفتن آن‌ها باید میانگین محاسبه شود.)

</font>
</p>

<p dir=rtl style="direction: rtl;text-align: right;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazirmatn" size=3>
اگر outlier را پرینت کنید، خروجی شما باید شبیه به زیر باشد: 
</br>

```python
[-138.0, -120.0, -32.5, 112.2, 114.4, ...]

```

</font>
</p>

In [ ]:
Q1 = df['MaxSpeed'].quantile(0.25)
Q3 = df['MaxSpeed'].quantile(0.75)

fence = 1.5 * (Q3 - Q1)

outlier_speed = df[(df['MaxSpeed'] < Q1 - fence) | (df['MaxSpeed'] > Q3 + fence)]
outlier_speed = outlier_speed['MaxSpeed'].sort_values().to_list()

outlier_speed

In [ ]:
# replace outliers with avg of MaxSpeed 
# to do
mean_speed = df[(df['MaxSpeed'] > Q1 - fence) & (df['MaxSpeed'] < Q3 + fence)]['MaxSpeed'].mean()

mean_speed_round = round(mean_speed, 2)
# mean_speed_round
df.loc[df['MaxSpeed'].isin(outlier_speed), 'MaxSpeed'] = mean_speed_round

<p dir=rtl style="direction: rtl;text-align: right;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazirmatn" size=3>
هم‌اکنون دوباره نمودار جعبه‌ای ستون MaxSpeed را رسم می‌کنیم. اگر مرحله بالا به درستی انجام شده‌باشد، باید شاهد تغییر در نمودار جعبه‌ای این ستون باشیم. 
</font>
</p>

In [ ]:
fig, ax = plt.subplots(figsize=(10, 4))
sns.boxplot(x=df.MaxSpeed)

<h2 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazirmatn" color="#0099cc">
<b>سلول جواب‌ساز</b>
</font>
</h2>

In [ ]:
import zlib
import zipfile


def compress(file_names):
    print("File Paths:")
    print(file_names)
    compression = zipfile.ZIP_DEFLATED
    with zipfile.ZipFile("result.zip", mode="w") as zf:
        for file_name in file_names:
            zf.write('./' + file_name, file_name, compress_type=compression)

np.savez("answers.npz", outlier_speed= outlier_speed)
df.to_csv('preprocessed_df.csv',index = True)

file_names = ["answers.npz", "preprocessed_df.csv", "correct_routing.ipynb"]
compress(file_names)